@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
  box-sizing: border-box;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 5px;
  background: radial-gradient(150% 55% at -15% 35%, #cfb266 0%, #2b2d5c 60%, #1b1639 85%);
  background-size: 400% 400%;
  height: 100vh;
  animation: gradient 30s ease infinite;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Нормализация */
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;

  * {
    font-family: "Fredoka", sans-serif;
  }
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 5px;
  color: #ff1c1c;
  border: 1px solid #ff1c1c;
  border-radius: 5px;
  width: 100%;
}
