body {
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 5px;
  font-family: 'Roboto', serif;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 5px;
  color: #ff1c1c;
  border: 1px solid #ff1c1c;
  border-radius: 5px;
}

/*TEMP*/
p, h1, h2, h3, h4, h5, h6 {
  color: #ff1c1c;
}
